.NavbarContainer{
    height: 15vh;overflow: hidden;
    background-color: rgba(255,255,255,0.6);
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
}

.NavbarWrapper{
    height: 100%;
    width: 100%;
    display: flex;
}

.LogoBox{
/* background: green; */
height: 100%;
flex: 1;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.Logo{
    width: 83.883px;
height: 73.125px;
flex-shrink: 0;
background: url("../../assets/home\ LOGO.svg");
}

.NavbarLinksBox{
    flex: 5;
    /* background: red; */
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
}

.NavLinks{
    color: #000;
    font-family: Quicksand;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 50px;
    cursor: pointer;  
}